.flex-container {
  display: flex;
  /* width: 1800px; */
  flex-wrap: wrap;
  justify-content: center;
}

.major-title {
  display: flex;
  justify-content: center;
}

/* .major-card-container {
  margin-top: 100px;
} */
