.button:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.253) !important;
}

.search-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.input {
  padding: 12px 20px;
  width: 75%;
  border-color: brown;
  border-radius: 8px;
  color: rgb(248, 7, 7);
}
